{% if parties %}
<div class="no-page-break">
   <div class="section-title mt-4">Completing Party</div>
   {% set ns = namespace(cp=0) %}
   {% for party in parties %}
      {% for party_role in party.roles %}
         {% if party_role.roleType == 'Completing Party' %}
            <table class="section-data section-data-table mt-4" role="presentation">
               <tr>
                  <td class="col-33">
                     <div class="section-sub-title">
                        {% if party.officer.partyType == 'organization' %}
                           <span class="capitalize-text">{{ party.officer.organizationName }}</span>
                        {% else %}
                           <span class="capitalize-text">{{ party.officer.lastName }}</span>,
                           <span class="capitalize-text">{{ party.officer.firstName }}</span>
                           {% if party.officer.middleName %}
                              <span class="capitalize-text">{{ party.officer.middleName }}</span>
                           {% endif %}
                        {% endif %}
                     </div>
                  </td>
                  {% if party.mailingAddress is defined %}
                  <td class="col-33">
                     <div class="section-sub-title">Mailing Address</div>
                     <div class="pt-2">{{ party.mailingAddress.streetAddress }}</div>
                     <div>{{ party.mailingAddress.streetAddressAdditional }}</div>
                     <div>
                        {{ party.mailingAddress.addressCity }}
                        {{ party.mailingAddress.addressRegion }}
                        &nbsp;{{ party.mailingAddress.postalCode }}
                     </div>
                     <div>{{ party.mailingAddress.addressCountry }}</div>
                     <div class="delivery-instructions pt-1">{{ party.mailingAddress.deliveryInstructions }}</div>
                  </td>
                  {% endif %}
                  <td class="col-33">
                  </td>
               </tr>
            </table>
            {% set ns.cp = party %}
         {% endif %}
      {% endfor %}
   {% endfor %}
</div>

<div class="no-page-break">
   <div class="separator mt-4"></div>
   <div class="section-title mt-4">Completing Party Statement</div>
   <div class="section-data mt-4">
       {% if ns.cp.officer.partyType == 'organization' %}
         <span class="capitalize-text">{{ ns.cp.officer.organizationName }}</span>
       {% else %}
         <span class="capitalize-text">{{ ns.cp.officer.firstName }}</span>
         {% if ns.cp.officer.middleName %}
            <span class="capitalize-text">{{ ns.cp.officer.middleName }}</span>
         {% endif %}
         <span class="capitalize-text">{{ ns.cp.officer.lastName }}</span>
       {% endif %}
       certifies that they have relevant knowledge of the {{ entityDescription }} and is authorized to make this filing.
   </div>
</div>
{% endif %}