{% if partyChange or newParties %}
<div class="no-page-break">
  <div class="section-title mt-4">
      {% if header.name == 'correction' %}
        <span>Proprietor Information</span>
      {% else %}
        <span>Change of Proprietor Information</span>
      {% endif %}
  </div>
</div>
<table class="section-data section-data-table mt-4" role="presentation">
  {% set parties = parties or newParties %}
  {% for party in (parties| selectattr("officer.partyType", "equalto", "person")|sort(attribute='officer.lastName') + parties| selectattr("officer.partyType", "equalto", "organization")|sort(attribute='officer.organizationName')) %}
    {% for party_role in party.roles %}
      {% if party_role.roleType in ['Proprietor'] %}
        <tr class="no-page-break">
          <td class="col-33">
            <div class="section-sub-title">
              {% if party.officer.partyType == 'organization' %}
                <span class="upper-text">{{ party.officer.organizationName }}</span>
              {% else %}
                <span class="capitalize-text">{{ party.officer.lastName }}</span>,
                <span class="capitalize-text">{{ party.officer.firstName }}</span>
                {% if party.officer.middleName %}
                  <span class="capitalize-text">{{ party.officer.middleName }}</span>
                {% endif %}
              {% endif %}
            </div>
              {% if party.nameChanged %}
                    {% if header.name == 'correction' %}
                      <span class="section-sub-title">{{ labelCorrected() }}</span>
                    {% else %}
                      <div class="mt-2 capitalize-text "><span class="director-former-name">(Formerly {{ party.previousName }})</span></div>
                      <div class="mt-2 section-sub-title">{{ labelNameChanged() }}</div>
                    {% endif %}
              {% endif %}
            {% if party.officer.identifier %}
              <div class="pt-2">Incorporation Number:</div>
              <div class="upper-text">{{ party.officer.identifier }}</div>
            {% endif %}
          </td>
          {% if party.mailingAddress is defined %}
          <td>
            <div class="section-sub-title">Mailing Address
                 <span>
                     {% if party.mailingAddress.changed %}
                         {% if header.name == 'correction' %}
                                {{ labelCorrected() }}
                         {% else %}
                                {{ labelChanged() }}
                         {% endif %}
                     {% endif %}
                 </span>
            </div>
            <div class="pt-2">{{ party.mailingAddress.streetAddress }}</div>
            <div>{{ party.mailingAddress.streetAddressAdditional }}</div>
            <div>
              {{ party.mailingAddress.addressCity }}
              {{ party.mailingAddress.addressRegion }}
              &nbsp;{{ party.mailingAddress.postalCode }}
            </div>
            <div>{{ party.mailingAddress.addressCountry }}</div>
            <div class="delivery-instructions pt-1">{{ party.mailingAddress.deliveryInstructions }}</div>
          </td>
          {% endif %}
          {% if party.deliveryAddress is defined %}
          <td>
             <div class="section-sub-title">Delivery Address
                 <span>
                     {% if party.deliveryAddress.changed %}
                         {% if header.name == 'correction' %}
                            {{ labelCorrected() }}
                         {% else %}
                            {{ labelChanged() }}
                         {% endif %}
                     {% endif %}
                 </span>
             </div>
             <div class="pt-2">{{ party.deliveryAddress.streetAddress }}</div>
             <div>{{ party.deliveryAddress.streetAddressAdditional }}</div>
             <div>
                {{ party.deliveryAddress.addressCity }}
                {{ party.deliveryAddress.addressRegion }}
                &nbsp;{{ party.deliveryAddress.postalCode }}
             </div>
             <div>{{ party.deliveryAddress.addressCountry }}</div>
             <div class="delivery-instructions pt-1">{{ party.deliveryAddress.deliveryInstructions }}</div>
          </td>
          {% endif %}
        </tr>
      {% endif %}
    {% endfor %}
  {% endfor %}
</table>
 <div class="separator mt-4"></div>
{% endif %}
