<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="origin-when-cross-origin"/>
    <meta name="author" content="BC Registries and Online Services">
    <title>{% block page_title %}{% endblock %}</title>
    {% include "./common/style.html" %}
  </head>

  <body>
    <table class="body-table" role="presentation">
      <tr>
        <td>
          <header>
              <table class="header-table" role="presentation">
                <tr>
                  <td>
                      {% include "./common/logo.html" %}
                  </td>
                </tr>
              </table>
              <p style="border-top: 3px solid #fcba19;"></p>
          </header>


          <div class="container">
            <p class="title-message bold">{% block title_message %}{% endblock %}</p>

            {% block content %}{% endblock %}

            <p style="margin-top: 16px !important;">&nbsp;</p>
            <p style="margin-top: 20px !important;"></p>
            {% block footer %}
                <p style="border-top: 2px solid #dee2e6;"></p>
                <p style="margin-top: 25px !important;"></p>
                <footer>
                  <div class="bold">Business Registry</div>
                  <div>BC Registries and Online Services</div>
                  <p style="margin-top: 20px !important;"></p>
                  <div>Toll Free: <a href="tel:1-877-526-1526">1-877-526-1526</a></div>
                  <div>Victoria Office: <a href="tel:250-387-7848">250-387-7848</a></div>
                  <div>Email: <a href="mailto:BCRegistries@gov.bc.ca">BCRegistries@gov.bc.ca</a></div>
                </footer>
            {% endblock %}
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
