<div class="no-page-break section-data mt-4">
     {% if business.naicsDescription %}
     <div class="pt-2">
         <span class="bold">Nature of Business: </span>{{business.naicsDescription}}
     </div>
     {% endif %}
     <div class="mt-4">
         <span class="bold">Business Start Date: </span>{{start_date_utc}}
     </div>
</div>
<div class="section-data mt-4">
      <table class="section-data-table" role="presentation">
         <tr>
            <td class="col-33">
               <div>
                  <span class="section-sub-title">Mailing Address</span>
                  {% if offices.businessOffice and offices.businessOffice.mailingAddress.hasCorrected %}
                     <span class="chip">CORRECTED</span>
                  {% endif %}
               </div>
                {% if offices.businessOffice %}
               <div class="pt-2">{{ offices.businessOffice.mailingAddress.streetAddress }}</div>
               {% if offices.businessOffice.mailingAddress.streetAddressAdditional is defined %}
                    <div>{{ offices.businessOffice.mailingAddress.streetAddressAdditional }}</div>
               {% endif %}
               <div>
                  {{ offices.businessOffice.mailingAddress.addressCity }}
                  {{ offices.businessOffice.mailingAddress.addressRegion }}
                  &nbsp;{{ offices.businessOffice.mailingAddress.postalCode }}
               </div>
               {% if offices.businessOffice.mailingAddress.addressCountryDescription %}
                  <div>{{ offices.businessOffice.mailingAddress.addressCountryDescription }}</div>
               {% else %}
                  <div>{{ offices.businessOffice.mailingAddress.addressCountry }}</div>
               {% endif %}
               <div class="delivery-instructions pt-1">
                  {{ offices.businessOffice.mailingAddress.deliveryInstructions }}
               </div>
               {% else %}
                   <div class="pt-2">
                      Not Available
                   </div>
                {% endif %}
            </td>
            <td class="col-33">
               <div>
                  <span class="section-sub-title">Delivery Address</span>
                  {% if offices.businessOffice and offices.businessOffice.deliveryAddress.hasCorrected %}
                     <span class="chip">CORRECTED</span>
                  {% endif %}
               </div>
                {% if offices.businessOffice %}
               <div class="pt-2">{{ offices.businessOffice.deliveryAddress.streetAddress }}</div>
               {% if offices.businessOffice.deliveryAddress.streetAddressAdditional is defined %}
                    <div>{{ offices.businessOffice.deliveryAddress.streetAddressAdditional }}</div>
               {% endif %}
               <div>
                  {{ offices.businessOffice.deliveryAddress.addressCity }}
                  {{ offices.businessOffice.deliveryAddress.addressRegion }}
                  &nbsp;{{ offices.businessOffice.deliveryAddress.postalCode }}
               </div>
               {% if offices.businessOffice.deliveryAddress.addressCountryDescription %}
                  <div>{{ offices.businessOffice.deliveryAddress.addressCountryDescription }}</div>
               {% else %}
                  <div>{{ offices.businessOffice.deliveryAddress.addressCountry }}</div>
               {% endif %}
               <div class="delivery-instructions pt-1">
                  {{ offices.businessOffice.deliveryAddress.deliveryInstructions }}
               </div>
                {% else %}
                   <div class="pt-2">
                      Not Available
                   </div>
                {% endif %}
            </td>
            <td class="col-33"></td>
         </tr>
      </table>
</div>
