<div class="no-page-break">
    <div class="separator mt-4"></div>
    <div class="section-title mt-4">Completing Party</div>
    <table class="section-data section-data-table mt-4" role="presentation">
       <tr>
          <td class="col-33">
             <div class="section-sub-title">
                {% if completingParty.officer.partyType == 'organization' %}
                           <span class="capitalize-text">{{ completingParty.officer.organizationName }}</span>
                {% else %}
                   <span class="capitalize-text">{{ completingParty.officer.lastName }}</span>,
                   <span class="capitalize-text">{{ completingParty.officer.firstName }}</span>
                   {% if completingParty.officer.middleName %}
                      <span class="capitalize-text">{{ completingParty.officer.middleName }}</span>
                   {% endif %}
                {% endif %}
             </div>
          </td>
          {% if completingParty.mailingAddress is defined %}
          <td>
             <div class="section-sub-title">Mailing Address</div>
             <div class="pt-2">{{ completingParty.mailingAddress.streetAddress }}</div>
             <div>{{ completingParty.mailingAddress.streetAddressAdditional }}</div>
             <div>
                {{ completingParty.mailingAddress.addressCity }}
                {{ completingParty.mailingAddress.addressRegion }}
                &nbsp;{{ completingParty.mailingAddress.postalCode }}
             </div>
             <div>{{ completingParty.mailingAddress.addressCountry }}</div>
             {% if completingParty.mailingAddress.deliveryInstructions is defined %}
             <div class="delivery-instructions pt-1">{{ completingParty.mailingAddress.deliveryInstructions }}</div>
             {% endif %}
          </td>
          {% endif %}
          {% if completingParty.deliveryAddress is defined %}
          <td>
             <div class="section-sub-title">Delivery Address</div>
             <div class="pt-2">{{ completingParty.deliveryAddress.streetAddress }}</div>
             <div>{{ completingParty.deliveryAddress.streetAddressAdditional }}</div>
             <div>
                {{ completingParty.deliveryAddress.addressCity }}
                {{ completingParty.deliveryAddress.addressRegion }}
                &nbsp;{{ completingParty.deliveryAddress.postalCode }}
             </div>
             <div>{{ completingParty.deliveryAddress.addressCountry }}</div>
             {% if completingParty.deliveryAddress.deliveryInstructions is defined %}
             <div class="delivery-instructions pt-1">{{ completingParty.deliveryAddress.deliveryInstructions }}</div>
             {% endif %}
          </td>
          {% endif %}
       </tr>
    </table>
</div>

<div class="no-page-break">
   <div class="separator mt-4"></div>
   <div class="section-title mt-4">Completing Party Statement</div>
   <div class="section-data mt-4">
      {% if completingParty.officer.partyType == 'organization' %}
         <span class="capitalize-text">{{ completingParty.officer.organizationName }}</span>
      {% else %}
         <span class="capitalize-text">{{ completingParty.officer.firstName }}</span>
         {% if completingParty.officer.middleName %}
            <span class="capitalize-text">{{ completingParty.officer.middleName }}</span>
         {% endif %}
         <span class="capitalize-text">{{ completingParty.officer.lastName }}</span>
       {% endif %}
       certifies that they have relevant knowledge of the {{ entityDescription }} and is authorized to make this filing.
   </div>
</div>
