# --- COLIN Extract Database ---
DATABASE_COLIN_EXTRACT_USERNAME=
DATABASE_COLIN_EXTRACT_PASSWORD=
DATABASE_COLIN_EXTRACT_HOST=
DATABASE_COLIN_EXTRACT_PORT=
DATABASE_COLIN_EXTRACT_NAME=

# --- LEAR Database ---
DATABASE_LEAR_USERNAME=
DATABASE_LEAR_PASSWORD=
DATABASE_LEAR_HOST=
DATABASE_LEAR_PORT=
DATABASE_LEAR_NAME=

# --- EXCEL EXPORT ---
EXPORT_OUTPUT_DIR=
