# to help out the github dependency checker
Flask
Flask-SQLAlchemy
SQLAlchemy-Continuum
flask-jwt-oid
jsonschema
python-dotenv
psycopg2-binary
sentry-sdk[flask]
asyncio-nats-client
asyncio-nats-streaming
pytest
pytest-asyncio
pylint
flake8
