@import "theme.styl";

html
  background $gray1
  font-size 16px

body
  font-family 'Roboto', sans-serif
  font-size 1rem

// Global Overrides
.v-chip
  font-weight 700
  text-transform uppercase

  .v-chip__content
    padding 0 0.5rem
    height auto

.v-chip--small
  padding: 0.25rem
  height auto !important
  font-size 0.7rem
