// Layout Variables
$app-header-height = 70px // 70px

.app-container
  display flex
  flex-flow column nowrap
  min-height 100vh

.app-header
  flex 0 0 auto
  height $app-header-height
  z-index 2

.app-body
  flex 1 1 auto
  margin-top $app-header-height // Offset the height of the fixed header

.app-container
  > .container:first-child
    padding 2rem

@media (min-width 960px)
  main
    > .container:first-child
        padding-top 3rem
        padding-bottom 3rem

.app-footer
  flex 0 0 auto

.container
  max-width 1200px // Using PX dimensions here to jive with vuetify (RE: breakpoints)