localhost:2015 { 
header / Host "localhost"
proxy / frontend:8080 {
header_upstream Host "localhost"
}
proxy /auth sbc_auth:8080 {
header_upstream Host "localhost"
}
proxy /api legal_api:5000 {
header_upstream Host "localhost"
}
}
