aniso8601==6.0.0
attrs==19.1.0
Click==7.0
cx-Oracle==7.1.2
ecdsa==0.13
Flask==1.0.2
flask-jwt-oidc==0.1.5
Flask-Moment==0.7.0
flask-restplus==0.12.1
Flask-Script==2.0.6
future==0.17.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
MarkupSafe==1.1.1
psycopg2-binary==2.8.2
pyasn1==0.4.5
pyrsistent==0.14.11
python-dotenv==0.10.1
python-jose==3.0.1
pytz==2019.1
rsa==4.0
six==1.12.0
Werkzeug==0.15.2
