Flask-Moment==0.10.0
Flask-Script==2.0.6
Flask==1.1.2
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
aniso8601==8.1.0
attrs==20.3.0
blinker==1.4
certifi==2020.12.5
click==7.1.2
cx-Oracle==8.1.0
ecdsa==0.14.1
flask-jwt-oidc==0.1.5
flask-restx==0.3.0
gunicorn==20.0.4
itsdangerous==1.1.0
jsonschema==3.2.0
psycopg2-binary==2.8.6
pyasn1==0.4.8
pycountry==20.7.3
pyrsistent==0.17.3
python-dotenv==0.15.0
python-jose==3.2.0
pytz==2020.4
rsa==4.6
sentry-sdk==0.19.4
six==1.15.0
urllib3==1.26.2
git+https://github.com/bcgov/business-schemas.git#egg=registry_schemas
