[[macros.html]]
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amalgamation Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
    [[common/style.html]]
  </head>
  <body>
    <div class="header">
      <table class="header-table" role="presentation">
        <tr class="no-page-break">
          <td>
            [[logo.html]]
          </td>
          <td>
            <div class="report-type">AMALGAMATION APPLICATION</div>
            <div class="report-type-desc">BC Limited Company - Business Corporations Act</div>
          </td>
        </tr>
      </table>
      <div class="business-name-header">
        <label class="lbl-business-name">{{business.legalName}}</label>
      </div>
    </div>
    [[common/businessDetails.html]]
    <div class="no-page-break">
      <div class="section-header mt-5 pt-4">AMALGAMATION APPLICATION</div>
    </div>

    <!-- Name Request [[amalgamation/nameRequest.html]]-->
    <div class="no-page-break">
      <table class="section-data nr-name-table mt-4" role="presentation">
          <tr>
              <td class="bold col-33">Name Reservation Number:</td>
              <td>
                  {% if not amalgamationApplication.nameRequest.nrNumber %}
                  N/A
                  {% else %}
                  {{amalgamationApplication.nameRequest.nrNumber}}
                  {% endif %}
              </td>
          </tr>
          <tr>
              <td class="bold pt-2">Name Reserved:</td>
              <td class="pt-2">
                  {% if not amalgamationApplication.nameRequest.nrNumber %}
                  The company is to be incorporated with a name created by adding "B.C. LTD." after the incorporation number.
                  {% else %}
                  {{amalgamationApplication.nameRequest.legalName}}
                  {% endif %}
              </td>
          </tr>
      </table>
    </div>

    <!-- Effective Date [[amalgamation/effectiveDate.html]]-->
    <div class="no-page-break">
      <div class="separator mt-4"></div>
      <div class="section-title mt-4">Amalgamation Effective Date</div>
      <div class="section-data mt-4">
          {% if header.isFutureEffective %}
              {{header.effective_date_time}}
          {% else %}
              The incorporation is to take effect at the time that this application is filed with the Registrar.
          {% endif %}
      </div>
    </div>

    <!-- Approval Type [[amalgamation/approvalType.html]]-->
    <div class="no-page-break">
      <div class="separator mt-4"></div>
      <div class="section-title mt-4">
        <span>Approval Type</span>
      </div>
      {% if amalgamationApplication.courtApproval is none %}
        <div class="section-data mt-3">
          N/A
        </div>
      {% else %}
        {% if amalgamationApplication.courtApproval == 'courtOrder' %}
          <div class="section-data mt-3">
            The restoration was approved by a court order.
          </div>
          <div class="section-data mt-2">
            Court order number: <span class="bold">{{amalgamationApplication.courtApproval.fileNumber}}</span>
          </div>
        {% elif amalgamationApplication.courtApproval == 'registrar' %}
          <div class="section-data mt-3">
            The restoration was approved by Registrar.
          </div>
          <div class="section-data mt-2">
            BC Gazette published date: {{amalgamationApplication.courtApproval.noticeDate}}
          </div>
          <div class="section-data mt-2">
            Notice of Application mailed date: {{amalgamationApplication.courtApproval.applicationDate}}
          </div>
        {% endif %}
      {% endif %}
    </div>


    <!-- Amalgamation Corp Info [[amalgamation/amalgamationCorp.html]] -->
    <div class="no-page-break">
      <div class="separator mt-4"></div>
      <div class="section-title mt-4">
        <span>Amalgamating Corporation(s) Information</span>
      </div>
      
      <table class="section-data-table" role="presentation">
          <tr> 
            <td class="col-50">
              <div>
                 <span class="section-sub-title pt-4">Name of Amalgamating Corporation(s)</span>
              </div>
              
           </td>
           
            <td class="col-50">
              <div>
                 <span class="section-sub-title pt-4">Incorporation Number</span>
              </div>

            </td>
           
          </tr>
      </table>
    </div>
    
    <!-- Amalgamation Statement [[amalgamation/amalgamationStmt.html]] -->
    <div class="no-page-break">
      <div class="separator mt-4"></div>
      <div class="section-title mt-4">
        <span>Amalgamation Statement</span>
      </div>
      <div class="section-data nt-4 pt-4">
          This amalgamation has been effected without court approval. A copy of all of the required affidavits under section 277(1) have been obtained and the affidavit
           obtained from each amalgamating company has been deposited in that company's records office.
      </div>
    </div> 

    <!-- Completing Party [[amalgamation/completingParty.html]] -->
    <div class="no-page-break">
      <div class="separator mt-4"></div>
      <div class="section-title mt-4">Completing Party</div>
      {% set ns = namespace(cp=0) %}
      {% for party in amalgamationApplication.parties %}
         {% for party_role in party.roles %}
            {% if party_role.roleType == 'Completing Party' %}
               <table class="section-data section-data-table mt-4" role="presentation">
                  <tr>
                     <td class="col-33">
                        <div class="section-sub-title">
                           <span class="capitalize-text">{{ party.officer.lastName }}</span>,
                           <span class="capitalize-text">{{ party.officer.firstName }}</span>
                           {% if party.officer.middleName %}
                              <span class="capitalize-text">{{ party.officer.middleName }}</span>
                           {% endif %}
                        </div>
                      </td>
                     <td>
                        <div class="section-sub-title">Mailing Address</div>
                        <div class="pt-2">{{ party.mailingAddress.streetAddress }}</div>
                        <div>{{ party.mailingAddress.streetAddressAdditional }}</div>
                        <div>
                           {{ party.mailingAddress.addressCity }}
                           {{ party.mailingAddress.addressRegion }}
                           &nbsp;{{ party.mailingAddress.postalCode }}
                        </div>
                        <div>{{ party.mailingAddress.addressCountry }}</div>
                        <div class="delivery-instructions pt-1">{{ party.mailingAddress.deliveryInstructions }}</div>
                      </td>

                      {%if party.mailingAddress.postalCode == party.deliveryAddress.postalCode %}
                        <td>
                          <div class="section-sub-title">Delivery Address</div>
                          <div class="pt-2">Same as mailing address.</div>
                        </td>
                      
                      {% else %}
                        <td>
                          <div class="section-sub-title">Delivery Address</div>
                          <div class="pt-2">{{ party.deliveryAddress.streetAddress }}</div>
                          <div>{{ party.deliveryAddress.streetAddressAdditional }}</div>
                          <div>
                            {{ party.deliveryAddress.addressCity }}
                            {{ party.deliveryAddress.addressRegion }}
                            &nbsp;{{ party.deliveryAddress.postalCode }}
                          </div>
                          <div>{{ party.deliveryAddress.addressCountry }}</div>
                          <div class="delivery-instructions pt-1">{{ party.deliveryAddress.deliveryInstructions }}</div>
                        </td>
                      {% endif %}
                      </tr>
                </table>
            {% endif %}
         {% endfor %}
      {% endfor %}
              </div>

   <!-- CompletingParty Statement [[amalgamation/completingPartyStmt.html]] -->
    <div class="no-page-break">
      <div class="separator mt-4"></div>
        <div class="section-title mt-4">
          <span>Completing Party Statement</span>
          <div class="section-data mt-3">
            I,{% for party in amalgamationApplication.parties %} 
                {% for party_role in party.roles %}
                  {% if party_role.roleType == 'Completing Party' %}
                    <span class="capitalize-text">{{ party.officer.lastName }}</span>,
                    <span class="capitalize-text">{{ party.officer.firstName }}</span>
                    {% if party.officer.middleName %}
                      <span class="capitalize-text">{{ party.officer.middleName }}</span>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}, the completing party, have examined the articles and the incorporation agreement applicable to the
              company that is to be incorporated by the filing of the Incorporation Application and confirm that:
              <table class="certify-statement-table" role="presentation">
                 <tr>
                    <td class="pt-2">a)</td>
                    <td class="pt-2">the Articles and the Incorporation Agreement both contain a signature line for each person
                       identified as an incorporator in the Incorporation Application with the name of that person set out
                       legibly under the signature lines,</td>
                    </tr>
                 <tr>
                    <td class="pt-2">b)</td>
                    <td class="pt-2">an original signature has been placed on each of those signature lines, and</td>
                 </tr>
                 <tr>
                    <td class="pt-2">c)</td>
                    <td class="pt-2">I have no reason to believe that the signature placed on a signature line is not the
                       signature of the person whose name is set out under that signature line.</td>
                    </tr>
              </table>
            </div>
          </div>

  </body>
</html>