[[macros.html]]
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Annual Report</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
    [[common/style.html]]
    {% if enable_sandbox %}
      [[common/watermark.html]]
    {% endif %}
  </head>
  <body>
    <div class="header">
      <table class="header-table" role="presentation">
        <tr class="no-page-break">
          <td>
            [[logo.html]]
          </td>
          <td>
            <div class="report-type">{{ header.ARFilingYear }} ANNUAL REPORT</div>
            <div class="report-type-desc">{{ entityDescription }} - {{ entityAct }}</div>
          </td>
        </tr>
      </table>
      <div class="business-name-header">
        <label class="lbl-business-name">
          {{business.legalName}}
        </label>
      </div>
    </div>
    [[common/businessDetails.html]]
    {% if business.legalType == 'CP' %}
    <div class="container">
      <table class="section-data section-data-table" role="presentation">
        <tr class="no-page-break">
          <td class="col-35">
            <div class="section-sub-title">
              <span>Annual General Meeting Date:</span>
            </div>
          </td>
          <td>
            <div>{{ agm_date }}</div>
          </td>
        </tr> 
      </table>
    </div>
    <div class="container mt-4">
      <div class="separator"></div>
      {% if effective_date is defined %}
        [[addresses.html]]
        <div class="separator"></div>

        [[directors.html]]
      {% endif %}
      [[certification.html]]
    </div>
    {% else %}
      <div class="container">
        <div class="separator"></div>
        [[bc-annual-report/legalObligations.html]]
      </div>
    {% endif %}
  </body>
</html>
