[[macros.html]]
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Incorporation Application</title>
      <meta charset="UTF-8">
      <meta name="author" content="BC Registries and Online Services">
      [[incorporation-application/style.html]]
   </head>
   <body>
      <div class="header">
         <table class="header-table" role="presentation">
            <tr>
               <td>
                  [[logo.html]]
               </td>
               <td>
                  <div class="header-right">
                     <div class="report-type">INCORPORATION APPLICATION</div>
                     <div class="report-type-desc">BC Benefit Company - Business Corporations Act</div>
                  </div>
               </td>
            </tr>
         </table>
         <div class="business-name-header">
            <label class="lbl-business-name">
            {% if not incorporationApplication.nameRequest%}
            Numbered Benefit Company
            {% else %}
            {{business.legalName}}
            {% endif %}
            </label>
         </div>
      </div>
      [[incorporation-application/incorporationDetails.html]]
      <div class="section-header">
         <div class="section-header-content">INCORPORATION APPLICATION</div>
      </div>
      <div class="container">
         <div class="application-info">
            [[incorporation-application/nameRequest.html]]
            <div class="separator"></div>
            <div class="effective-date">
               <div class="section-title">Incorporation Effective Date</div>
               <div class="section-data">
                  The incorporation is to take effect at the time that this application is filed with the Registrar.
               </div>
            </div>
            <div class="separator"></div>
            [[incorporation-application/incorporator.html]]
            <div class="separator"></div>
            [[incorporation-application/completingParty.html]]
         </div>
         <div class="section-header">
            <div class="section-header-content">NOTICE OF ARTICLES</div>
         </div>
         <div class="container">
            <div class="section-data benefit-company-statement">
               <div class="section-title">Benefit Company Statement</div>
               <div class="section-data">
                  <p>This company is a benefit company and, as such, has purposes that include conducting its
                     business in a responsible and sustainable manner and promoting one or more public benefits.
                  </p>
                  <p class="section-sub-title">Name of Company:
                     {% if not incorporationApplication.nameRequest%}
                     A company name using the Incorporation Number will be provided on the Recognition Date and Time.
                     {% else %}
                     {{business.legalName}}
                     {% endif %}
                  </p>
               </div>
            </div>
            <div class="separator"></div>
            [[incorporation-application/addresses.html]]
            <div class="separator"></div>
            [[incorporation-application/directors.html]]
            <div class="separator"></div>
            [[incorporation-application/shareStructure.html]]
         </div>
      </div>
   </body>
</html>