{% if alterations|length > 0 %}
<div class="no-page-break">
  <div class="separator mt-4"></div>
  <div class="section-title mt-4">Alteration of Business Type</div>
</div>
<table class="section-data business-change-table mt-4" role="presentation">
  {% for alteration in alterations %}
      <tr class="no-page-break">
        <td class="col-50">
            <div class="section-sub-title">From</div>
            <div class="upper-text pt-2">{{ alteration.fromBusinessName }}</div>
            <div class="pt-1">{{ alteration.fromLegalType }}</div>
        </td>
        <td class="col-50">
           <div class="section-sub-title">To</div>
           <div class="upper-text pt-2">{{ alteration.toBusinessName }}</div>
           <div class="pt-1">{{ alteration.toLegalType }}</div>
        </td>
      </tr>
      <tr>
          <td class="section-data" colspan="2">
              <div class="mt-1">Date of Company Change: {{alteration.filingDateTime }}</div>
          </td>
      </tr>
  {% endfor %}
</table>
{% endif %}
