{% if business.amalgamatedEntity %}
<div class="no-page-break">
  <div class="separator mt-4"></div>
  <div class="section-title mt-4">Amalgamating Businesses Information</div>
</div>
<table class="section-data amalgamation-table mt-4" role="presentation">
    <tr class="no-page-break">
        <td class="col-50">
            <div class="section-sub-title">Amalgamating Business</div>
        </td>
        <td class="col-50">
           <div class="section-sub-title">Incorporation Number</div>
        </td>
    </tr>
    {% for entity in amalgamatedEntities %}
        <tr class="no-page-break">
            <td class="col-50">
                <div class="{{'upper-text' if entity.legalName!='Not Available'}} pt-2">
                    {{ entity.legalName }}
                </div>
            </td>
            <td class="col-50">
               <div class="{{'upper-text' if entity.identifier!='Not Available'}} pt-2">
                   {{ entity.identifier }}
               </div>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
