{% if business.epochFilingDate %}
  <div class="mt-2 section-data">
      <div>
          {% if business.legalType == 'CP' %}
            Due to system limitations resulting from the modernization of data across databases, some information
            may not be available for cooperative association filings. To request copies of paper documents this summary marks
            as Not Available, contact BC Registries staff.
          {% elif business.legalType in ['BEN', 'CBEN'] %}
            Due to system limitations resulting from the modernization of data across databases, information on filings
            made in Corporate Online while the company was a limited or unlimited liability company are not available.
            To request copies of paper documents this summary marks as Not Available, contact BC Registries staff.
          {% endif %}
           <ul class="section-data registry-contact-details">
               <li class="registry-contact-details-item">
                   <span>Canada and U.S. Toll Free:</span>
                   <span>
                       <a href="tel:+18775261526">1-877-526-1526</a>
                   </span>
               </li>
               <li class="registry-contact-details-item pt-1">
                   <span>Victoria Office:</span>
                   <span>
                       <a href="tel:+12503877848">250-387-7848</a>
                   </span>
               </li>
               <li class="registry-contact-details-item pt-1">
                   <span>Email:</span>
                   <span>
                       <a href="mailto:BCRegistries@gov.bc.ca">BCRegistries@gov.bc.ca</a>
                   </span>
               </li>
            </ul>
      </div>
  <div class="separator mt-4 mb-6"></div>
  </div>
{% endif %}
<div class="mt-2">
    {% if business.legalType in ['SP', 'GP'] %}
    <div class="mt-2 section-title">Business Information</div>
    <div class="mt-4">
        <span class="section-sub-title">Business Name: </span>
        <span class="section-data">{{business.legalName}}</span>
    </div>
    <div>
        <span class="section-sub-title">Nature of Business: </span>
        {% if business.naicsDescription is defined %}
        <span class="section-data">{{business.naicsDescription}}</span>
        {% else %}
        <span class="section-data">Not Available</span>
        {% endif %}
    </div>
    <div>
        <span class="section-sub-title">Business Start Date: </span>
        {% if start_date_utc is defined %}
        <span class="section-data">{{start_date_utc}}</span>
        {% else %}
        <span class="section-data">Not Available</span>
        {% endif %}
    </div>
    {% if business.state in ('HISTORICAL', 'LIQUIDATION') %}
    <div>
        <span class="section-sub-title">Business End Date: </span>
        {% if formatted_dissolution_date is defined %}
        <span class="section-data">{{formatted_dissolution_date}}</span>
        {% else %}
        <span class="section-data">Not Available</span>
        {% endif %}
    </div>
    {% endif %}
    {% else %}
    {% if business.legalType == 'CP' %}
    <div class="mt-2">
        <span class="section-sub-title">Cooperative Type: </span>
        <span class="section-data">{{business.coopType}}</span>
    </div>
    {% endif %}

    <div class="mt-2">
        <span class="section-sub-title">Last Annual Report: </span>
        {% if business.last_ar_date is defined %}
        <span class="section-data">{{business.last_ar_date}}</span>
        {% else %}
        <span class="section-data">Not Available</span>
        {% endif %}
    </div>
    {% if business.legalType == 'CP' %}
    <div>
        <span class="section-sub-title">Last Annual General Meeting: </span>
        {% if business.last_agm_date is defined %}
        <span class="section-data">{{business.last_agm_date}}</span>
        {% else %}
        <span class="section-data">Not Available</span>
        {% endif %}
    </div>
    {% endif %}
    <div class="mt-2">
        <span class="section-sub-title">In Liquidation: </span>
        {% if business.inLiquidation %}
        <span class="section-data">Yes</span>
        {% else %}
        <span class="section-data">No</span>
        {% endif %}
    </div>
    {% if business.restorationExpiryDate %}
    <div class="mt-2">
        <span class="section-sub-title">This company is in Limited Restoration with an Expiry Date of </span>
        <span class="section-data">{{formatted_restoration_expiry_date}}</span>
    </div>
    {% endif %}
    {% endif %}
</div>
