<div class="no-page-break">
  <div class="separator mt-4"></div>
  <div class="section-title mt-4">
    {% if business.legalType == 'SP' %}
      <span>Proprietor</span>
    {% elif business.legalType == 'GP' %}
      <span>Partner</span>
    {% endif %} Information
  </div>
</div>
<table class="section-data section-data-table mt-4" role="presentation">
  {% for party in (parties| selectattr("officer.partyType", "equalto", "person")|sort(attribute='officer.lastName') + parties| selectattr("officer.partyType", "equalto", "organization")|sort(attribute='officer.organizationName')) %}
    {% for party_role in party.roles %}
      {% if party_role.roleType in ['Partner', 'Proprietor'] %}
        <tr class="no-page-break">
          <td class="col-33">
            <div class="section-sub-title">
              {% if party.officer.partyType == 'organization' %}
                <span class="upper-text">{{ party.officer.organizationName }}</span>
              {% else %}
                <span class="capitalize-text">{{ party.officer.lastName }}</span>,
                <span class="capitalize-text">{{ party.officer.firstName }}</span>
                {% if party.officer.middleInitial %}
                  <span class="capitalize-text">{{ party.officer.middleInitial }}</span>
                {% endif %}
              {% endif %}
            </div>
            {% if party.officer.identifier %}
              <div class="pt-2">Incorporation Number:</div>
              <div class="upper-text">{{ party.officer.identifier }}</div>
            {% endif %}
            {% if party.officer.taxId %}
              <div class="pt-2">Business Number:</div>
              <div class="upper-text">{{ party.officer.taxId }}</div>
            {% endif %}
          </td>
          {% if party.mailingAddress is defined %}
          <td>
            <div class="section-sub-title">Mailing Address</div>
            <div class="pt-2">{{ party.mailingAddress.streetAddress }}</div>
            <div>{{ party.mailingAddress.streetAddressAdditional }}</div>
            <div>
              {{ party.mailingAddress.addressCity }}
              {{ party.mailingAddress.addressRegion }}
              &nbsp;{{ party.mailingAddress.postalCode }}
            </div>
            <div>{{ party.mailingAddress.addressCountry }}</div>
            {% if party.mailingAddress.deliveryInstructions %}
              <div class="delivery-instructions pt-1">{{ party.mailingAddress.deliveryInstructions }}</div>
            {% endif %}
          </td>
          {% endif %}
          {% if party.deliveryAddress is defined %}
          <td>
             <div class="section-sub-title">Delivery Address</div>
             <div class="pt-2">{{ party.deliveryAddress.streetAddress }}</div>
             <div>{{ party.deliveryAddress.streetAddressAdditional }}</div>
             <div>
                {{ party.deliveryAddress.addressCity }}
                {{ party.deliveryAddress.addressRegion }}
                &nbsp;{{ party.deliveryAddress.postalCode }}
             </div>
             <div>{{ party.deliveryAddress.addressCountry }}</div>
             {% if party.deliveryAddress.deliveryInstructions %}
              <div class="delivery-instructions pt-1">{{ party.deliveryAddress.deliveryInstructions }}</div>
            {% endif %}
          </td>
          {% endif %}
        </tr>
      {% endif %}
    {% endfor %}
  {% endfor %}
</table>
