{% if stateFilings|length > 0 %}
<div class="no-page-break">
  <div class="separator mt-4"></div>
  <div class="section-title mt-4">
      {% if business.legalType in ['SP', 'GP'] %}
        <span>Business Status Information</span>
      {% else %}
        <span>Dissolution/Restoration Information</span>
      {% endif %}
  </div>
</div>
<table class="section-data section-data-table mt-4" role="presentation">
  {% for filing in stateFilings %}
    <tr class="no-page-break">
        <td>
            <div class="section-sub-title">{{filing.filingName}}
              {% if filing.limitedRestorationExpiryDate %}
              with an Expiry Date of {{filing.limitedRestorationExpiryDate}}
              {% endif %}
            </div>
            <div class="pt-2">
              {% if filing.filingType == 'continuationOut' %}
                <span>Jurisdiction: {{ filing.jurisdiction }}</span>
                <div class="pt-2">
                  <span>Name Company Continued Out As: {{ filing.foreignLegalName }}</span>
                </div>
                <div class="pt-2">
                  <span>Continuation Out Date: {{ filing.continuationOutDate }}</span>
                </div>
              {% elif filing.filingType == 'amalgamationApplication' %}
                <!-- filingType `amalgamationApplication` will be present only for amalgamating business (TING) -->
                <div class="pt-2">
                  <span>Name of Amalgamated Business: {{ filing.legalName }}</span>
                </div>
                <div class="pt-2">
                  <span>Incorporation Number: {{ filing.identifier }}</span>
                </div>
              {% elif filing.filingType == 'dissolution' and filing.filingSubType == 'involuntary' or
                filing.filingType == 'putBackOff' %}
                <span>Effective Date:</span>
                <span>{{ filing.effectiveDateTime }}</span>
              {% else %}
                <span>Filing Date:</span>
                <span>{{filing.filingDateTime}}</span>
                {% if filing.dissolution_date_str %}
                    <div class="pt-2">
                        <span>Dissolution Date:</span>
                        <span>{{ filing.dissolution_date_str }}</span>
                    </div>
                {% endif %}
              {% endif %}
            </div>
        </td>
    </tr>
  {% endfor %}
</table>
{% endif %}
