Flask==1.1.2
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==0.16.1
click==7.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
numpy==1.19.1
pandas==1.1.1
psycopg2-binary==2.8.5
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
