prefect==2.7.3
pandas
requests==2.31.0
prefect-dask
psycopg2==2.9.5
git+https://github.com/bcgov/lear.git#egg=legal_api&subdirectory=legal-api
git+https://github.com/bcgov/business-schemas.git@2.16.1#egg=registry_schemas
