jupyter
requests
d6tstack
d6tstack[psql]
d6tstack[xls]
pandas
sqlalchemy
psycopg2
simplejson
matplotlib
ipython-sql
tlaplus_jupyter
ipytest
pytest
git+https://github.com/bcgov/business-schemas.git#egg=registry_schemas
git+https://github.com/bcgov/lear.git#egg=legal_api&subdirectory=legal-api

