{% if parties %}
<div class="no-page-break">
   <div class="separator mt-4"></div>
   <div class="section-title mt-4">Applicant Information</div>
   {% set ns = namespace(app=0) %}
   {% for party in parties %}
      {% for party_role in party.roles %}
         {% if party_role.roleType == 'Applicant' %}
            <table class="section-data applicant-table mt-4" role="presentation">
               <tr>
                  <td class="col-33">
                     <div class="section-sub-title">
                        {% if party.officer.partyType == 'organization' %}
                        <span class="capitalize-text">{{ party.officer.organizationName }}</span>
                        {% else %}
                        <span class="capitalize-text">{{ party.officer.lastName }}</span>,
                        <span class="capitalize-text">{{ party.officer.firstName }}</span>
                           {% if party.officer.middleName %}
                           <span class="capitalize-text">{{ party.officer.middleName }}</span>
                           {% endif %}
                        {% endif %}
                     </div>
                  </td>
                  {% if party.mailingAddress is defined %}
                  <td class="col-33">
                     <div class="section-sub-title">Mailing Address</div>
                     <div class="pt-2">{{ party.mailingAddress.streetAddress }}</div>
                     <div>{{ party.mailingAddress.streetAddressAdditional }}</div>
                     <div>
                        {{ party.mailingAddress.addressCity }}
                        {{ party.mailingAddress.addressRegion }}
                        &nbsp;{{ party.mailingAddress.postalCode }}
                     </div>
                     <div>{{ party.mailingAddress.addressCountry }}</div>
                     <div class="delivery-instructions pt-1">{{ party.mailingAddress.deliveryInstructions }}</div>
                  </td>
                  {% endif %}
                  <td class="col-33"></td>
               </tr>
               {% if relationshipsDesc is defined %}
               <tr>
                  <td class="col-33">
                     <span class="bold">Relationship to the Company:</span>
                  </td>
                  <td class="col-33">
                     {{relationshipsDesc}}.
                  </td>
                  <td class="col-33">
                  </td>
               </tr>
               {% endif %}
            </table>
         {% endif %}
      {% endfor %}
   {% endfor %}
</div>
{% endif %}
