<div class="address-container">
  {% if  registeredOfficeAddress is defined %}
  <div class="section-title">
    Registered Office Information
  </div>
  <div class="section-data">
    <table class="section-data-table" role="presentation">
      <tr>
        <td class="delivery-address-50">
          <div class="section-sub-title">Delivery Address  {% if 'addressChanged' in registeredOfficeAddress.deliveryAddress.actions %}{{ labelNew() }}{% endif %}</div>
          <div>{{ registeredOfficeAddress.deliveryAddress.streetAddress }}</div>
          <div>{{ registeredOfficeAddress.deliveryAddress.streetAddressAdditional }}</div>
          <div>{{ registeredOfficeAddress.deliveryAddress.addressCity }}
             {{ registeredOfficeAddress.deliveryAddress.addressRegion }}
            &nbsp; {{ registeredOfficeAddress.deliveryAddress.postalCode }}
          </div>
          <div>{{ registeredOfficeAddress.deliveryAddress.addressCountry }}</div>
          <div>{{ registeredOfficeAddress.deliveryAddress.deliveryInstructions }}</div>
        </td>
        <td class="mailing-address-50">
          <div class="section-sub-title">Mailing Address  {% if 'addressChanged' in registeredOfficeAddress.mailingAddress.actions %}{{ labelNew() }}{% endif %}</div>
          <div>{{ registeredOfficeAddress.mailingAddress.streetAddress }}</div>
          <div>{{ registeredOfficeAddress.mailingAddress.streetAddressAdditional }}</div>
          <div>{{ registeredOfficeAddress.mailingAddress.addressCity }}
             {{ registeredOfficeAddress.mailingAddress.addressRegion }}
            &nbsp; {{ registeredOfficeAddress.mailingAddress.postalCode }}
          </div>
          <div>{{ registeredOfficeAddress.mailingAddress.addressCountry }}</div>
          <div>{{ registeredOfficeAddress.mailingAddress.deliveryInstructions }}</div>
        </td>
      </tr>
    </table>
  </div>
  <div class="separator"></div>
  {% endif %}
  {% if  recordsOfficeAddress is defined %}
  <div class="no-page-break">
    <div class="section-title">
      Records Office Information
    </div>
    <div class="section-data">
      <table class="section-data-table" role="presentation">
        <tr>
          <td class="delivery-address-50">
            <div class="section-sub-title">Delivery Address {% if 'addressChanged' in recordsOfficeAddress.deliveryAddress.actions %}{{ labelNew() }}{% endif %}</div>
            <div>{{ recordsOfficeAddress.deliveryAddress.streetAddress }}</div>
            <div>{{ recordsOfficeAddress.deliveryAddress.streetAddressAdditional }}</div>
            <div>{{ recordsOfficeAddress.deliveryAddress.addressCity }}
               {{ recordsOfficeAddress.deliveryAddress.addressRegion }}
              &nbsp; {{ recordsOfficeAddress.deliveryAddress.postalCode }}
            </div>
            <div>{{ recordsOfficeAddress.deliveryAddress.addressCountry }}</div>
            <div>{{ recordsOfficeAddress.deliveryAddress.deliveryInstructions }}</div>
          </td>
          <td class="mailing-address-50">
            <div class="section-sub-title">Mailing Address  {% if 'addressChanged' in recordsOfficeAddress.mailingAddress.actions %}{{ labelNew() }}{% endif %}</div>
            <div>{{ recordsOfficeAddress.mailingAddress.streetAddress }}</div>
            <div>{{ recordsOfficeAddress.mailingAddress.streetAddressAdditional }}</div>
            <div>{{ recordsOfficeAddress.mailingAddress.addressCity }}
               {{ recordsOfficeAddress.mailingAddress.addressRegion }}
              &nbsp; {{ recordsOfficeAddress.mailingAddress.postalCode }}
            </div>
            <div>{{ recordsOfficeAddress.mailingAddress.addressCountry }}</div>
            <div>{{ recordsOfficeAddress.mailingAddress.deliveryInstructions }}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  {% endif %}
</div>
