
DATABASE_USERNAME_COLIN_ORACLE=
DATABASE_PASSWORD_COLIN_ORACLE=
DATABASE_NAME_COLIN_ORACLE=
DATABASE_HOST_COLIN_ORACLE=
DATABASE_PORT_COLIN_ORACLE=

DATABASE_USERNAME_COLIN_MIGR=
DATABASE_PASSWORD_COLIN_MIGR=
DATABASE_NAME_COLIN_MIGR=
DATABASE_HOST_COLIN_MIGR=
DATABASE_PORT_COLIN_MIGR=