<div class="business-details-container">
    <table class="business-details-table" role="presentation">
        <tr>
            <td>
                {% if business.legalType in ['SP', 'GP'] %}
                    <div class="bold">Registration Number:</div>
                {% else %}
                    <div class="bold">Incorporation Number:</div>
                {% endif %}
                <div class="bold pt-2">Recognition Date and Time:</div>
                <div class="bold pt-2">Correction Date and Time:</div>
                {% if correction.resolutionDate is defined %}
                    <div class="bold pt-2">Resolution Date:</div>
                {% endif %}
            </td>
            <td>
                <div>{{business.identifier}}</div>
                <div class="pt-2">{{recognition_date_time}}</div>
                <div class="pt-2">{{effective_date_time}}</div>
                {% if correction.resolutionDate is defined %}
                    <div class="pt-2">{{correction.resolutionDate}}</div>
                {% endif %}
            </td>
            <td class="business-details-registar-td">
                <div class="registar-certify-section">
                    <div class="certified-copy-text">CERTIFIED COPY</div>
                    <div class="doc-description">of a document filed with the</div>
                    <div class="doc-description">Province of British Columbia</div>
                    <div class="registrar-title">Registrar of Companies</div>
                    <div class="registrar-signature">
                        <img alt="signature" src={{registrarInfo.signature}}>
                    </div>
                    <div class="registrar-name">{{ registrarInfo.name }}</div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- Retrieved Date and Time: -->
<div class="retrieved-date-time mt-2">Document retrieved on {{report_date_time}}</div>

<!-- this block is hidden but is needed for the footer: -->
<div class="filing-identifier">
    Filing #{{header.filingId}}
    {% if business.legalType in ['SP', 'GP'] %}
        <span> | Registration #{{business.identifier}}</span>
    {% else %}
        <span> | Incorporation #{{business.identifier}}</span>
    {% endif %}
</div>
