{% if rulesInResolution or uploadNewRules %}
<div class="no-page-break">
    <div class="section-title mt-4">Rules <span class="correction-label">CORRECTED</span></div>
</div>
{% if uploadNewRules %}
<div class="section-data mt-4">A certified copy of the uploaded rules is attached with this filing.</div>
{% else %}
<div class="section-data mt-4">Changes will be described in the special resolution text.</div>
{% endif %}
<div class="separator mt-4"></div>
{% endif %}

{% if memorandumInResolution %}
<div class="no-page-break">
    <div class="section-title mt-4">Memorandum <span class="correction-label">CORRECTED</span></div>
</div>
<div class="section-data mt-4">Changes will be described in the special resolution text.</div>
<div class="separator mt-4"></div>
{% endif %}
