Flask==2.3.3
paramiko==3.3.1
papermill==2.6.0
pg8000==1.31.4
pandas==2.3.1
pysftp==0.2.9
python-dotenv==1.1.1
requests==2.32.4
ipython-genutils==0.2.0
ipython==9.4.0
jupyter-client==8.6.3
jupyter-console==6.6.3
jupyter-core==5.8.1
jupyter==1.1.1
jupyterlab-pygments==0.3.0
jupyterlab-widgets==3.0.15
nbconvert==7.16.6
nbformat==5.10.4
matplotlib==3.10.5
numpy==2.3.2
simplejson==3.20.1
SQLAlchemy==2.0.43
jupysql==0.10.14
jupysql-plugin==0.4.5
ipywidgets==8.1.1
git+https://github.com/bcgov/sbc-connect-common.git@main#subdirectory=python/cloud-sql-connector