<div class="address-container">
   {% if incorporationApplication.offices.registeredOffice is defined %}
   <div class="section-title">
      Registered Office Information
   </div>
   <div class="section-data">
      <table class="section-data-table">
         <tr>
            <td class="delivery-address">
               <div class="section-sub-title">Delivery Address</div>
               <div>{{ incorporationApplication.offices.registeredOffice.deliveryAddress.streetAddress }}</div>
               <div>{{ incorporationApplication.offices.registeredOffice.deliveryAddress.streetAddressAdditional }}</div>
               <div>{{ incorporationApplication.offices.registeredOffice.deliveryAddress.addressCity }}
                  {{ incorporationApplication.offices.registeredOffice.deliveryAddress.addressRegion }}
                  &nbsp;{{ incorporationApplication.offices.registeredOffice.deliveryAddress.postalCode }}
               </div>
               <div>{{ incorporationApplication.offices.registeredOffice.deliveryAddress.addressCountry }}</div>
               <div>{{ incorporationApplication.offices.registeredOffice.deliveryAddress.deliveryInstructions }}</div>
            </td>
            <td>
               <div class="section-sub-title">Mailing Address</div>
               <div>{{ incorporationApplication.offices.registeredOffice.mailingAddress.streetAddress }}</div>
               <div>{{ incorporationApplication.offices.registeredOffice.mailingAddress.streetAddressAdditional }}</div>
               <div>{{ incorporationApplication.offices.registeredOffice.mailingAddress.addressCity }}
                  {{ incorporationApplication.offices.registeredOffice.mailingAddress.addressRegion }}
                  &nbsp;{{ incorporationApplication.offices.registeredOffice.mailingAddress.postalCode }}
               </div>
               <div>{{ incorporationApplication.offices.registeredOffice.mailingAddress.addressCountry }}</div>
               <div>{{ incorporationApplication.offices.registeredOffice.mailingAddress.deliveryInstructions }}</div>
            </td>
         </tr>
      </table>
   </div>
   <div class="separator"></div>
   {% endif %}
   {% if incorporationApplication.offices.recordsOffice is defined %}
   <div class="no-page-break">
      <div class="section-title">
         Records Office Information
      </div>
      <div class="section-data">
         <table class="section-data-table">
            <tr>
               <td class="delivery-address">
                  <div class="section-sub-title">Delivery Address</div>
                  <div>{{ incorporationApplication.offices.recordsOffice.deliveryAddress.streetAddress }}</div>
                  <div>{{ incorporationApplication.offices.recordsOffice.deliveryAddress.streetAddressAdditional }}</div>
                  <div>{{ incorporationApplication.offices.recordsOffice.deliveryAddress.addressCity }}
                     {{ incorporationApplication.offices.recordsOffice.deliveryAddress.addressRegion }}
                     &nbsp;{{ incorporationApplication.offices.recordsOffice.deliveryAddress.postalCode }}
                  </div>
                  <div>{{ incorporationApplication.offices.recordsOffice.deliveryAddress.addressCountry }}</div>
                  <div>{{ incorporationApplication.offices.recordsOffice.deliveryAddress.deliveryInstructions }}</div>
               </td>
               <td>
                  <div class="section-sub-title">Mailing Address</div>
                  <div>{{ incorporationApplication.offices.recordsOffice.mailingAddress.streetAddress }}</div>
                  <div>{{ incorporationApplication.offices.recordsOffice.mailingAddress.streetAddressAdditional }}</div>
                  <div>{{ incorporationApplication.offices.recordsOffice.mailingAddress.addressCity }}
                     {{ incorporationApplication.offices.recordsOffice.mailingAddress.addressRegion }}
                     &nbsp;{{ incorporationApplication.offices.recordsOffice.mailingAddress.postalCode }}
                  </div>
                  <div>{{ incorporationApplication.offices.recordsOffice.mailingAddress.addressCountry }}</div>
                  <div>{{ incorporationApplication.offices.recordsOffice.mailingAddress.deliveryInstructions }}</div>
               </td>
            </tr>
         </table>
      </div>
   </div>
   {% endif %}
</div>