<div class="no-page-break">
   <div class="section-title">
      Completing Party
   </div>
   {% set ns = namespace(cp=0) %}
   {% for party in incorporationApplication.parties %}
   {% for party_role in party.roles %}
   {% if party_role.roleType == 'Completing Party' %}
   <div class="section-data">
      <table class="section-data-table" role="presentation">
         <tr>
            <td class="director-name">
               <div class="section-sub-title">
                  <span class="capitalize-text">{{ party.officer.lastName }}</span>,
                  <span class="capitalize-text">{{ party.officer.firstName }}</span>
                  {% if party.officer.middleInitial is defined %}
                  <span class="capitalize-text">{{ party.officer.middleInitial }}</span>
                  {% endif %}
               </div>
            </td>
            <td>
               <div class="section-sub-title">Mailing Address</div>
               <div>{{ party.deliveryAddress.streetAddress }}</div>
               <div>{{ party.deliveryAddress.streetAddressAdditional }}</div>
               <div>{{ party.deliveryAddress.addressCity }}
                  {{ party.deliveryAddress.addressRegion }}
                  &nbsp;{{ party.deliveryAddress.postalCode }}
               </div>
               <div>{{ party.deliveryAddress.addressCountry }}</div>
               <div>{{ party.deliveryAddress.deliveryInstructions }}</div>
            </td>
         </tr>
      </table>
   </div>
   {% set ns.cp = party %}
   {% endif %}
   {% endfor %}
   {% endfor %}
</div>
<div class="separator"></div>
<div class="cp-statement no-page-break">
   <div class="section-title">
      Completing Party Statement
   </div>
   <div class="section-data">
      I,
      <span class="capitalize-text">{{ ns.cp.officer.firstName}}</span>
      {% if ns.cp.officer.middleInitial is defined %}
      <span class="capitalize-text">{{ ns.cp.officer.middleInitial}}</span>
      {% endif %}
      <span class="capitalize-text">{{ ns.cp.officer.lastName}}</span>, the completing party, have examined the articles
      and the incorporation agreement applicable to the company that is to be incorporated by the filing of the
      Incorporation Application and confirm that:
      <div class="certify-statements">
         <table class="certify-statement-table" role="presentation">
            <tr>
               <td>a)</td>
               <td>the Articles and the Incorporation Agreement both contain a signature line for each person
                  identified as an incorporator in the Incorporation Application with the name of that person set out
                  legibly under the signature lines,
               </td>
            </tr>
            <tr>
               <td>b)</td>
               <td>an original signature has been placed on each of those signature lines, and</td>
            </tr>
            <tr>
               <td>c)</td>
               <td>I have no reason to believe that the signature placed on a signature line is not the
                  signature of the person whose name is set out under that signature line.
               </td>
            </tr>
         </table>
      </div>
   </div>
</div>