@import "theme.styl";

html, body
  min-height 100vh

html
  font-size 14px

@media (min-width 960px)
  html
    font-size 16px

body
  font-family 'Roboto', sans-serif
  font-size 1rem

h1
  margin-bottom 1.25rem
  line-height 2rem
  letter-spacing -0.01rem
  font-size 2rem
  font-weight 500

h2
  margin-bottom 0.25rem
  font-size 1rem
  font-weight 700

h4
  margin-top 0.5rem
  margin-bottom 1.5rem
  font-size 1.125rem
  font-weight 500

hr
  margin-top 2rem
  margin-bottom 2rem
  border-color $gray4
  border-style solid

p
  margin-bottom 1.5rem

.container
  padding 1.25rem


.app-container.theme--light
  background $gray1

.form-input
  display flex
  border 1px solid $gray5
  width 10rem

  .prefix
    flex 0 0 auto
    width 2.5rem
    padding 0.5rem
    background-color $gray3
    text-align center

  input
    flex 0 0 auto
    width 7.5rem
    margin 0
    text-align right

  select
    flex 1 1 auto
    height 32px
    padding-left 0.5rem
    -webkit-appearance menulist

// Payment Table
.payment-table
  width 100%
  border 1px solid $gray3
  border-collapse collapse
  line-height 1rem
  font-size 0.8rem

  thead
    background #ffffff
    font-weight 400

  tfoot
    background $gray1

  th, td
    padding 0.75rem
    border 1px solid $gray3
    text-align left

.no-wrap
  white-space nowrap