// Vuetify Overrides

// Buttons
.v-btn
  text-transform none
  font-weight 400

.v-text-field--box .v-label--active,
.v-text-field--full-width .v-label--active,
.v-text-field--outline .v-label--active
  transform: translateY(-8px) scale(.75);

.theme--light.v-text-field--solo >.v-input__control >.v-input__slot
  border 1px solid $gray5