// Vuetify Overrides

// Buttons
.v-btn
  text-transform none
  font-weight 400

.v-text-field--box .v-label--active,
.v-text-field--full-width .v-label--active,
.v-text-field--outline .v-label--active
  transform: translateY(-8px) scale(.75);