{% if header.reportType == 'noticeOfArticles' %}
    <div class="no-page-break">
        <div class="section-data mt-4">
            <span class="bold">Name of Company:</span>
            {{business.businessName}}
        </div>
    </div>

    <div class="no-page-break">
        {% if nameTranslations|length > 0 %}
        <div class="section-data mt-4">
            <div class="bold">Translation(s) of Company Name:</div>
            <table class="name-translation-table" role="presentation">
                {% for translation in nameTranslations %}
                <tr>
                    <td class="pt-2">&bull;</td>
                    <td class="pt-2">{{translation.name}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
{% endif %}
