<div class="business-details-container">
   <table class="business-details-table" role="presentation">
      <tr>
         {% if header.reportType == 'noa' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Issued Date and Time:</div>
               <div class="bold pt-2">Recognition Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{effective_date_time}}</div>
               <div class="pt-2">{{recognition_date_time}}</div>
            </td>
         {% elif header.name == 'incorporationApplication' %}
            <td>
               <div class="bold">Filed Date and Time:</div>
               <div class="bold pt-2">Recognition Date and Time:</div>
            </td>
            <td>
               <div>{{filing_date_time}}</div>
               <div class="pt-2">{{effective_date_time}}</div>
            </td>
         {% elif header.name == 'changeOfAddress' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Address Effective Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <!-- temporary override - should be fixed in code instead - see #4444 -->
               <div class="pt-2">{{effective_date}} at 12:01 AM Pacific Time</div>
            </td>
         {% elif header.name == 'changeOfDirectors' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Director Change Date:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">{{effective_date}}</div>
            </td>
         {% elif header.name == 'annualReport' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               {% if taxId %}
               <div class="bold pt-2">Business Number:</div>
               {% endif %}
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Recognition Date and Time:</div>
               <div class="bold pt-2">Annual Report Date:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               {% if taxId %}
               <div class="pt-2">{{taxId}}</div>
               {% endif %}
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">{{recognition_date_time}}</div>
               <div class="pt-2">{{effective_date}}</div>
            </td>
         {% elif header.name == 'correction' and correction.correctedFilingType == 'incorporationApplication' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Recognition Date and Time:</div>
               <div class="bold pt-2">Correction Date:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{original_filing_date_time}}</div>
               <div class="pt-2">{{recognition_date_time}}</div>
               <div class="pt-2">{{effective_date}}</div>
            </td>
         {% elif header.name == 'transition' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Transition Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">{{effective_date_time}}</div>
            </td>
         {% elif header.reportType == 'alterationNotice' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Alteration Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">{{effective_date_time}}</div>
            </td>
         {% endif %}

         <td class="registar-certify-section">
            <div class="certified-copy-text">CERTIFIED COPY</div>
            <div class="doc-description">of a document filed with the</div>
            <div class="doc-description">Province of British Columbia</div>
            <div class="registrar-title">Registrar of Companies</div>
            <div class="registrar-signature">
               <img alt="signature" src={{registrarInfo.signature}}>
            </div>
            <div class="registrar-name">{{ registrarInfo.name }}</div>
         </td>
      </tr>
   </table>
</div>
<!-- this block is hidden but is needed for the footer: -->
<div class="filing-identifier">
   Filing #{{header.filingId}}
   {% if header.name != 'incorporationApplication' %}
      <!-- not required for incorporationApplication -->
      <span> | Incorporation #{{business.identifier}}</span>
   {% endif %}
</div>
