<div class="business-details-container">
   <table class="business-details-table" role="presentation">
      <tr>
         {% if reportType == 'summary' %}
             <td class="col-33">
                {% if business.legalType in ['GP', 'SP'] %}
                 <div class="bold">Registration Number:</div>
                {% else %}
                <div class="bold">Incorporation Number:</div>
                {% endif %}
                 <div class="bold pt-2">Business Number:</div>
                {% if business.legalType in ['GP', 'SP'] %}
                 <div class="bold pt-2">Registration Date and Time:</div>
                {% else %}
                 <div class="bold pt-2">Incorporation Date and Time:</div>
                {% endif %}
                 <div class="bold pt-2">Summary Date and Time:</div>
                 <div class="bold pt-2">Company Status:</div>
              </td>
              <td class="col-67">
                 <div>{{business.identifier}}</div>
                 <div class="pt-2">
                   {% if business.taxId is defined %}
                      <span>{{ business.taxId }}</span>
                   {% else %}
                      <span>Not Available</span>
                   {% endif %}
                 </div>
                 <div class="pt-2">
                    {% if business.legalType in ['GP', 'SP'] %}
                        <span>{{formatted_registration_date}}</span>
                    {% else %}
                        <span>{{formatted_founding_date_time}}</span>
                    {% endif %}
                    {% if business.amalgamatedEntity %}
                        <span>(as a result of an Amalgamation)</span>
                    {% endif %}
                 </div>
                 <div class="pt-2">{{report_date_time}}</div>
                 <div class="pt-2">
                   <span class="capitalize-text">{{business.state}}</span>
                   {% if business.state in ('HISTORICAL', 'LIQUIDATION') %}
                    <span> - </span>
                    {% if business.legalType in ['GP', 'SP'] and business.state == 'HISTORICAL' %}
                        <span>Dissolved</span>
                    {% else %}
                        <span>{{stateFilings[0].filingName}}</span>
                    {% endif %}
                    <span> - Effective {{stateFilings[0].effectiveDateTime}}</span>
                   {% endif %}
                 </div>
              </td>
         {% elif header.reportType == 'noticeOfArticles' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Issued Date and Time:</div>
               <div class="bold pt-2">Recognition Date and Time:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{effective_date_time}}</div>
               <div class="pt-2">{{recognition_date_time}}</div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.reportType == 'specialResolution' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Special Resolution Type:</div>
               <div class="bold pt-2">Resolution Date:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">{{header.displayName}}</div>
               <div class="pt-2">{{specialResolution.resolutionDate}}</div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.name == 'incorporationApplication' %}
            <td class="col-33">
               {% if header.status == 'COMPLETED' %}
               <div class="bold">Incorporation Number:</div>
               {% endif %}
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Recognition Date and Time:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               {% if header.status == 'COMPLETED' %}
               <div>{{business.identifier}}</div>
               {% endif %}
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">{{effective_date_time}}</div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.name == 'registration' %}
            <td class="col-22">
               <div class="bold">Registration Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Business Number:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">
                  {% if business.taxId is defined %}
                      <span>{{ business.taxId }}</span>
                  {% else %}
                      <span>Not Available</span>
                  {% endif %}
               </div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.reportType in ['amendedRegistrationStatement', 'correctedRegistrationStatement'] %}
            <td class="col-22">
               <div class="bold">Registration Number:</div>
               <div class="bold pt-2">Registration Date:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Business Number:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{recognition_date_utc}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">
                  {% if business.taxId is defined %}
                      <span>{{ business.taxId }}</span>
                  {% else %}
                      <span>Not Available</span>
                  {% endif %}
               </div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.reportType == 'changeOfRegistration' %}
            <td class="col-22">
               <div class="bold">Registration Number:</div>
               <div class="bold pt-2">Registration Date:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Business Number:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{formatted_founding_date}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">
                  {% if business.taxId is defined %}
                      <span>{{ business.taxId }}</span>
                  {% else %}
                      <span>Not Available</span>
                  {% endif %}
               </div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.name == 'changeOfAddress' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Address Effective Date and Time:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <!-- temporary override - should be fixed in code instead - see #4444 -->
               <div class="pt-2">{{effective_date}} at 12:01 AM Pacific Time</div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.name == 'changeOfDirectors' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Director Change Date:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">{{effective_date}}</div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.name == 'annualReport' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               {% if taxId %}
               <div class="bold pt-2">Business Number:</div>
               {% endif %}
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Recognition Date and Time:</div>
               <div class="bold pt-2">Annual Report Date:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               {% if taxId %}
               <div class="pt-2">{{taxId}}</div>
               {% endif %}
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">{{recognition_date_time}}</div>
               <div class="pt-2">{{effective_date}}</div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.name == 'correction' and correction.correctedFilingType == 'incorporationApplication' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Recognition Date and Time:</div>
               <div class="bold pt-2">Correction Date:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{original_filing_date_time}}</div>
               <div class="pt-2">{{recognition_date_time}}</div>
               <div class="pt-2">{{effective_date}}</div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.name == 'transition' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Transition Date and Time:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">{{effective_date_time}}</div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% elif header.reportType == 'alterationNotice' %}
            <td>
               <div class="bold">Incorporation Number:</div>
               <div class="bold pt-2">Filed Date and Time:</div>
               <div class="bold pt-2">Alteration Date and Time:</div>
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               <div class="pt-2">{{filing_date_time}}</div>
               <div class="pt-2">{{effective_date_time}}</div>
               <div class="pt-2">{{report_date_time}}</div>
            </td>
          {% elif header.name == 'dissolution' %}
            <td>
               <div class="bold">
                  {% if business.legalType in ['GP', 'SP'] %}
                     <span>Registration Number:</span>
                  {% else %}
                     <span>Incorporation Number:</span>
                  {% endif %}
               </div>
               {% if business.legalType in ['GP', 'SP'] %}
               <div class="bold pt-2">Registration Date:</div>
               {% endif %}
               <div class="bold pt-2">Filed Date and Time:</div>
               {% if business.legalType not in ['CP', 'SP', 'GP'] %}
                  <div class="bold pt-2">Effective Date and Time:</div>
               {% endif %}
               {% if business.legalType in ['GP', 'SP'] %}
                  <div class="bold pt-2">Business Number:</div>
               {% endif %}
               <div class="bold pt-2">Retrieved Date and Time:</div>
            </td>
            <td>
               <div>{{business.identifier}}</div>
               {% if business.legalType in ['SP', 'GP'] %}
                  <div class="pt-2">{{ recognition_date_utc }}</div>
               {% endif %}
               <div class="pt-2">{{filing_date_time}}</div>
               {% if business.legalType not in ['CP', 'SP', 'GP'] %}
                  <div class="pt-2">{{effective_date_time}}</div>
               {% endif %}
               {% if business.legalType in ['GP', 'SP'] %}
                   {% if business.taxId is defined %}
                      <div class="pt-2">{{ business.taxId }}</div>
                   {% else %}
                      <div class="pt-2">Not Available</div>
                   {% endif %}
               {% endif %}
               <div class="pt-2">{{report_date_time}}</div>
            </td>
         {% endif %}
         {% if reportType != 'summary' %}
         <td class="business-details-registar-td">
            <div class="registar-certify-section">
               <div class="certified-copy-text">CERTIFIED COPY</div>
               <div class="doc-description">of a document filed with the</div>
               <div class="doc-description">Province of British Columbia</div>
               <div class="registrar-title">Registrar of Companies</div>
               <div class="registrar-signature">
                  <img alt="signature" src={{registrarInfo.signature}}>
               </div>
               <div class="registrar-name">{{ registrarInfo.name }}</div>
            </div>
         </td>
          {% endif %}
      </tr>
   </table>
</div>
<!-- this block is hidden but is needed for the footer: -->
<div class="filing-identifier">
    {% if reportType == 'summary' %}
         {% if business.legalType in ['SP', 'GP'] %}
            <span>Registration #{{business.identifier}}</span>
         {% else %}
            <span>Incorporation #{{business.identifier}}</span>
         {% endif %}
    {% else %}
         Filing #{{header.filingId}}
        {% if business.legalType in ['SP', 'GP'] %}
            <span> | Registration #{{business.identifier}}</span>
        {% else %}
           {% if header.name != 'incorporationApplication' %}
             <!-- not required for incorporationApplication -->
             <span> | Incorporation #{{business.identifier}}</span>
           {% endif %}
        {% endif %}
    {% endif %}
</div>
