{% if correction is defined %}
<div class="correction-on">
   <div>
      {% autoescape false %}
      {% set date, time = effective_date_time.split(' at ') %}
      Corrected on {{date}}<br/>at {{time}}
      {% endautoescape %}
      {% if registrarInfo %}
         <div class="current-registrar-signature">
            <img alt="signature" src={{registrarInfo.signature}}>
         </div>
         <div class="current-registrar-name">{{ registrarInfo.name }}</div>
         <div class="current-registrar-title">{{ registrarInfo.title }}</div>
         <div class="current-registrar-province-country-info">
            <div>PROVINCE OF BRITISH COLUMBIA</div>
            <div>CANADA</div>
         </div>
      {% endif %}
   </div>
</div>
{% endif %}
