{% if resolutions|length > 0 %}
  <div class="no-page-break">
    <div class="separator mt-4"></div>
    <div class="section-title mt-4">Resolution or Court Order Dates</div>
    <div class="section-data mt-4">
      Dates of resolutions or court orders that change the company’s share structure.
      This includes changes to the special rights or restrictions on a class or series of shares.
    </div>
    <ul class="section-data resolution-date-list">
      {% for resolution in resolutions %}
          {% if 'date' in resolution %}
                <li class="resolution-date-list-item pt-2">{{resolution.date}}</li>
          {% else %}
                <li class="resolution-date-list-item pt-2">{{resolution}}</li>
          {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
