Flask==1.1.2
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==0.16.1
asyncio-nats-client==0.10.0
asyncio-nats-streaming==0.4.0
attrs==19.3.0
blinker==1.4
certifi==2020.4.5.2
click==7.1.2
importlib-metadata==1.6.1
itsdangerous==1.1.0
jsonschema==3.2.0
protobuf==3.12.2
pycountry==19.8.18
pyrsistent==0.16.0
python-dotenv==0.13.0
sentry-sdk==0.14.4
six==1.15.0
urllib3==1.25.9
zipp==3.1.0
git+https://github.com/bcgov/business-schemas.git#egg=registry_schemas
git+https://github.com/bcgov/lear.git#egg=legal_api&subdirectory=legal-api
git+https://github.com/bcgov/lear.git#egg=entity_queue_common&subdirectory=queue_services/common
