Flask==1.1.2
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==0.16.1
asyncio-nats-client==0.11.4
asyncio-nats-streaming==0.4.0
attrs==19.3.0
blinker==1.4
certifi==2020.4.5.2
click==7.1.2
importlib-metadata==1.6.1
itsdangerous==1.1.0
jsonschema==3.2.0
#protobuf==3.12.2
pycountry==19.8.18
pyrsistent==0.16.0
python-dotenv==0.13.0
sentry-sdk==1.20.0
six==1.15.0
urllib3==1.26.11
zipp==3.1.0
git+https://github.com/bcgov/business-schemas.git#egg=registry_schemas
git+https://github.com/bcgov/lear.git#egg=legal_api&subdirectory=legal-api
git+https://github.com/bcgov/lear.git#egg=entity_queue_common&subdirectory=queue_services/common

# fix due to conflicting versions from legal-api import
protobuf==3.19.5
googleapis-common-protos==1.56.2
grpcio-status==1.48.0
grpc-google-iam-v1==0.12.4
google-auth==2.38.0
google-cloud-pubsub==2.21.4
google-api-core==2.24.2
proto-plus==1.26.1
git+https://github.com/bcgov/sbc-connect-common.git@main#subdirectory=python/gcp-queue
