Flask
Flask-SQLAlchemy
SQLAlchemy-Continuum
aiohttp
flask-jwt-oidc>=0.1.5
jsonschema
python-dotenv
psycopg2-binary
sentry-sdk[flask]
asyncio-nats-client
asyncio-nats-streaming
pycountry
git+https://github.com/bcgov/lear.git#egg=registry_schemas&subdirectory=schemas
git+https://github.com/bcgov/lear.git#egg=legal_api&subdirectory=legal-api
git+https://github.com/bcgov/lear.git#egg=entity_queue_common&subdirectory=queue_services/common
