{% if appointedRels %}
<div class="no-page-break gap-y">
  <div class="section-title">Appointed Liquidators</div>
  {% for rel in appointedRels %}
    <table class="section-data section-data-table">
        <tr class="no-page-break">
          <td class="upper-text section-sub-title">
            {% if rel.entity.businessName %}
              <span>{{ rel.entity.businessName }}</span>
            {% else %}
              <span>{{ rel.entity.familyName }}{% if rel.entity.givenName %}, {{ rel.entity.givenName }}{% endif %}</span>
            {% endif %}
          </td>
          {% if rel.mailingAddress is defined %}
            <td>
              <div class="section-sub-title mb-2">Mailing Address</div>
              <div>{{ rel.mailingAddress.streetAddress }}</div>
              <div>{{ rel.mailingAddress.streetAddressAdditional }}</div>
              <div>
                {{ rel.mailingAddress.addressCity }}
                {{ rel.mailingAddress.addressRegion }}
                &nbsp;{{ rel.mailingAddress.postalCode }}
              </div>
              <div>{{ rel.mailingAddress.addressCountry }}</div>
              <div class="delivery-instructions pt-1">{{ rel.mailingAddress.deliveryInstructions }}</div>
            </td>
          {% endif %}
          {% if rel.deliveryAddress is defined %}
            <td>
              <div class="section-sub-title mb-2">Delivery Address</div>
              <div>{{ rel.deliveryAddress.streetAddress }}</div>
              <div>{{ rel.deliveryAddress.streetAddressAdditional }}</div>
              <div>
                  {{ rel.deliveryAddress.addressCity }}
                  {{ rel.deliveryAddress.addressRegion }}
                  &nbsp;{{ rel.deliveryAddress.postalCode }}
              </div>
              <div>{{ rel.deliveryAddress.addressCountry }}</div>
              <div class="delivery-instructions pt-1">{{ rel.deliveryAddress.deliveryInstructions }}</div>
            </td>
          {% endif %}
        </tr>
    </table>
    {% if not loop.last %}
      <div class="solid-row-separator"></div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}