# Cloud SQL Connector (GCP) - preferred method
CLOUDSQL_INSTANCE_CONNECTION_NAME="project:region:instance"
DATABASE_NAME="name.lastname@gov.bc.ca"
DATABASE_USERNAME=
IP_TYPE="public"

# Local/dev fallback (used when CLOUDSQL_INSTANCE_CONNECTION_NAME is not set)
DATABASE_PASSWORD="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"

MONTH_REPORT_DATES="[1,2,3,15]"
EMAIL_SMTP=""
SENDER_EMAIL=""
INCORPORATION_FILINGS_DAILY_REPORT_RECIPIENTS="[]"
COOP_FILINGS_MONTHLY_REPORT_RECIPIENTS="[]"
COOPERATIVE_MONTHLY_REPORT_RECIPIENTS="[]"
BC_STATS_MONTHLY_REPORT_RECIPIENTS="[]"
ERROR_EMAIL_RECIPIENTS="[]"

NOTIFY_API_URL="https://notify-api-url"
NOTIFY_API_VERSION="/api/v2"

ACCOUNT_SVC_AUTH_URL=""
ACCOUNT_SVC_CLIENT_ID=""
ACCOUNT_SVC_CLIENT_SECRET=""
