{% extends './common/base_template.jinja2' %}

{% block title_message %}You have successfully filed your restoration with the BC Business Registry.{% endblock %}

{% block content %}
    {% include './common/business-information-block.jinja2' %}
    <p>
        The following documents are attached to this email:
    </p>
    {% block attachments %}{% endblock %}
    <p>
        These documents are also available through your BC Business Registry account.
    </p>
    {% block after_processing %}{% endblock %}
{% endblock %}
