{% extends 'RES-common.jinja2' %}

{% block page_title %}You have successfully filed your restoration with the BC Business Registry.{% endblock %}
{% block title_message %}You have successfully filed your restoration with the BC Business Registry.{% endblock %}

{% block attachments %}{% endblock %}

{% block after_processing %}
    <p>
        Once your filing has been processed, the business will be
        registered, and the company will receive the below outputs:
    </p>
    <ul>
        <li>Notice of Articles</li>
        <li>Certificate of Restoration</li>
    </ul>
{% endblock %}
