{% extends 'RES-COMPLETED.jinja2' %}

{% block page_title %}You have successfully extended the period of restoration with the BC Business Registry.{% endblock %}

{% block title_message %}You have successfully extended the period of restoration with the BC Business Registry.{% endblock %}
