<div class="separator mt-4"></div>
{% if toBusinessName %}
<div class="no-page-break">
    <div class="section-title mt-4">Change of Business Name <span class="correction-label">CORRECTED</span></div>
</div>
<table class="section-data business-change-table mt-4" role="presentation">
    <tr class="no-page-break">
        <td class="col-50">
            <div class="section-sub-title">From</div>
            <div class="{{'upper-text' if fromBusinessName!='Not Available'}} pt-2">{{ fromBusinessName }}</div>
        </td>
        <td class="col-50">
            <div class="section-sub-title">To</div>
            <div class="{{'upper-text' if toBusinessName!='Not Available'}} pt-2">{{ toBusinessName }}</div>
        </td>
    </tr>
    <tr>
        <td class="section-data" colspan="2">
            <div class="section-sub-title">Name Request Number</div>
            <div class="{{'upper-text' if nrNumber!='Not Available'}} pt-2">{{ nrNumber }}</div>
        </td>
    </tr>
</table>
<div class="separator mt-4"></div>
{% endif %}

{% if prevCoopAssociationType %}
<div class="no-page-break">
    <div class="section-title mt-4">Change of Association Type <span class="correction-label">CORRECTED</span></div>
</div>
<table class="section-data business-change-table mt-4" role="presentation">
    <tr class="no-page-break">
        <td class="col-50">
            <div class="section-sub-title">From</div>
            <div class="{{'upper-text' if prevCoopAssociationType!='Not Available'}} pt-2">{{ prevCoopAssociationType }}</div>
        </td>
        <td class="col-50">
            <div class="section-sub-title">To</div>
            <div class="{{'upper-text' if newCoopAssociationType!='Not Available'}} pt-2">{{ newCoopAssociationType }}</div>
        </td>
    </tr>
</table>
<div class="separator mt-4"></div>
{% endif %}

{% if rulesInResolution or uploadNewRules %}
<div class="no-page-break">
    <div class="section-title mt-4">Rules <span class="correction-label">CORRECTED</span></div>
</div>
{% if uploadNewRules %}
<div class="section-data mt-4">A certified copy of the uploaded rules is attached with this filing.</div>
{% else %}
<div class="section-data mt-4">Changes will be described in the special resolution text.</div>
{% endif %}
<div class="separator mt-4"></div>
{% endif %}

{% if memorandumInResolution %}
<div class="no-page-break">
    <div class="section-title mt-4">Memoranum <span class="correction-label">CORRECTED</span></div>
</div>
<div class="section-data mt-4">Changes will be described in the special resolution text.</div>
<div class="separator mt-4"></div>
{% endif %}

{% if correction.resolution %}
<div class="no-page-break">
    <div class="section-title mt-4">Special Resolution <span class="correction-label">CORRECTED</span></div>
</div>
<div class="section-data mt-4">Changes will be described in the special resolution text.</div>
<div class="separator mt-4"></div>
{% endif %}
