<!-- Has both specialResolution and correction in one document. -->
{% set filing_template = specialResolution or correction %}
<div class="no-page-break">
<div class="section-title mt-4">Special Resolution</div>
</div>
<div class="section-data mt-4">{{ filing_template.resolution|safe}}</div>
<div class="separator mt-4"></div>
{% if filing_template.signatory is defined  %}
<div class="section-data mt-4">
    <div>
        <span class="section-sub-title">Signed By: </span>
        <span>
            <span class="capitalize-text">{{filing_template.signatory.givenName}}</span>
            {% if filing_template.signatory.additionalName %}
                <span class="capitalize-text">{{filing_template.signatory.additionalName}}</span>
            {% endif %}
            <span class="capitalize-text">{{filing_template.signatory.familyName}}</span>
        </span>
    </div>
    <div>
        <span class="section-sub-title">Signed On: </span>
        <span>{{filing_template.signingDate}}</span>
    </div>
</div>
{% endif %}
