AUTH_API_URL=
AUTH_API_VERSION=/api/v1

ACCOUNT_SVC_AUTH_URL=
ACCOUNT_SVC_CLIENT_ID=
ACCOUNT_SVC_CLIENT_SECRET=
ACCOUNT_SVC_TIMEOUT=300

JWT_OIDC_WELL_KNOWN_CONFIG=
JWT_OIDC_ALGORITHMS=
JWT_OIDC_JWKS_URI=
JWT_OIDC_ISSUER=
JWT_OIDC_AUDIENCE=
JWT_OIDC_CLIENT_SECRET=
JWT_OIDC_CACHING_ENABLED=True
JWT_OIDC_USERNAME=username
JWT_OIDC_FIRSTNAME=firstname
JWT_OIDC_LASTNAME=lastname
JWT_OIDC_JWKS_CACHE_TIMEOUT=300
