<!-- table and cell padding doesn't work consistently -- use cellspacing instead -->
<table class="business-info-table" cellspacing="10" role="presentation">
  <tr>
    <td class="name">Company Name:</td>
    {% if business.legalName %}
    <!-- try to get legal name from Business object -->
    <td class="value">{{ business.legalName }}</td>
    {% elif incorporationApplication.nameRequest.legalName %}
    <!-- try to get legal name from Name Request object -->
    <td class="value">{{ incorporationApplication.nameRequest.legalName }}</td>
    {% elif business.legalType == 'BC' %}
    <!-- fallback BC label -->
    <td class="value">Numbered Benefit Company</td>
    {% else %}
    <!-- add other cases here -->
    <td class="value">Unknown</td>
    {% endif %}
  </tr>

  <tr>
    <td class="name">Incorporation Number:</td>
    {% if header.status == 'PAID' %}
    <td class="value">Pending</td>
    {% elif header.status == 'COMPLETED' %}
    <!-- Eg, BC0878529 -->
    <td class="value">{{ business.identifier }}</td>
    {% else %}
    <!-- add other cases here -->
    <td class="value">Unknown</td>
    {% endif %}
  </tr>

  {% if business.tax_id %}
  <tr>
    <td class="name">Business Number:</td>
    <td class="value">{{ business.tax_id }}</td>
  </tr>
  {% endif %}

  <tr>
    <td class="name">Date and Time of Filing:</td>
    <td class="value">{{ filing_date_time }}</td>
  </tr>

  {% if header.isFutureEffective %}
  <tr>
    <td class="name">Effective Date and Time:</td>
    <td class="value">{{ effective_date_time }}</td>
  </tr>
  {% endif %}
</table>
