{% include './common/20px.html' %}
{% include './common/divider.html' %}
{% include './common/20px.html' %}
<div class="business-information">
  <div>
    {% if business.legalType == 'CP' %}
    <div class="name bold">Cooperative Association Name:</div>
    {% elif business.legalType in ['SP', 'GP'] %}
    <div class="name bold">Business Name:</div>
    {% else %}
    <div class="name bold">Company Name:</div>
    {% endif %}

    {% if filing_status == 'PAID' and filing_type == 'incorporationApplication' %}
      {% if filing.nameRequest.legalName %}
      <!-- try to get legal name from Name Request object -->
      <div class="value">{{ filing.nameRequest.legalName }}</div>
      {% elif numbered_description %}
      <!-- fallback BC label -->
      <div class="value">{{ numbered_description }}</div>
      {% else %}
      <!-- add other cases here -->
      <div class="value">Unknown</div>
      {% endif %}
    {% elif business.businessName %}
    <!-- try to get legal name from Business object -->
    <div class="value">{{ business.businessName }}</div>
    {% endif %}
  </div>

  {% include './common/20px.html' %}
  <div>
    {% if business.legalType in ['SP', 'GP'] %}
      <div class="name bold">Registration Number:</div>
    {% else %}
      <div class="name bold">Incorporation Number:</div>
    {% endif %}
    {% if filing_status == 'PAID' and filing_type == 'incorporationApplication' %}
    <div class="value">Pending</div>
    {% else %}
    <!-- Eg, BC0878529 -->
    <div class="value">{{ business.identifier }}</div>
    {% endif %}
  </div>
  
  {% if business.taxId and business.taxId|length > 9 %}
  {% include './common/20px.html' %}
  <div>
    <div class="name bold">Business Number:</div>
    <div class="value">{{ business.taxId }}</div>
  </div>
  {% endif %}
  
  {% include './common/20px.html' %}
  <div>
    <div class="name bold">Date and Time of Filing:</div>
    <div class="value">{{ filing_date_time }}</div>
  </div>

  {% if header.isFutureEffective %}
  {% include './common/20px.html' %}
  <div>
    <div class="name bold">Effective Date and Time:</div>
    <div class="value">{{ effective_date_time }}</div>
  </div>
  {% endif %}
</div>
{% include './common/20px.html' %}
{% include './common/divider.html' %}
{% include './common/20px.html' %}
