[[20px.html]]
[[divider.html]]
[[20px.html]]
<!-- table and cell padding doesn't work consistently -- use cellspacing instead -->
<table class="business-info-table" cellspacing="10" role="presentation">
  <tr>
    {% if business.legalType == 'CP' %}
    <td class="name">Cooperative Association Name:</td>
    {% elif business.legalType in ['SP', 'GP'] %}
    <td class="name">Business Name:</td>
    {% else %}
    <td class="name">Company Name:</td>
    {% endif %}

    {% if filing_status == 'PAID' and filing_type == 'incorporationApplication' %}
      {% if filing.nameRequest.legalName %}
      <!-- try to get legal name from Name Request object -->
      <td class="value bold">{{ filing.nameRequest.legalName }}</td>
      {% elif numbered_description %}
      <!-- fallback BC label -->
      <td class="value bold">{{ numbered_description }}</td>
      {% else %}
      <!-- add other cases here -->
      <td class="value bold">Unknown</td>
      {% endif %}
    {% elif business.businessName %}
    <!-- try to get legal name from Business object -->
    <td class="value bold">{{ business.businessName }}</td>
    {% endif %}
  </tr>

  <tr>
    {% if business.legalType in ['SP', 'GP'] %}
      <td class="name">Registration Number:</td>
    {% else %}
      <td class="name">Incorporation Number:</td>
    {% endif %}
    {% if filing_status == 'PAID' and filing_type == 'incorporationApplication' %}
    <td class="value bold">Pending</td>
    {% else %}
    <!-- Eg, BC0878529 -->
    <td class="value bold">{{ business.identifier }}</td>
    {% endif %}
  </tr>

  {% if business.taxId and business.taxId|length > 9 %}
  <tr>
    <td class="name">Business Number:</td>
    <td class="value bold">{{ business.taxId }}</td>
  </tr>
  {% endif %}

  <tr>
    <td class="name">Date and Time of Filing:</td>
    <td class="value bold">{{ filing_date_time }}</td>
  </tr>

  {% if header.isFutureEffective %}
  <tr>
    <td class="name">Effective Date and Time:</td>
    <td class="value bold">{{ effective_date_time }}</td>
  </tr>
  {% endif %}
</table>
[[20px.html]]
[[divider.html]]
[[20px.html]]
