<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="origin-when-cross-origin"/>
    <meta name="author" content="BC Registries and Online Services">
    <title>Reminder of Annual Report from the Business Registry</title>
    [[style.html]]
  </head>

  <body>
    <table class="body-table" role="presentation">
      <tr>
        <td>
          [[header.html]]

          <div class="container">
            <p>
              You can now file the {{ ar_year }} annual report for the {{ entity_type }} {{ business.businessName }},
              incorporation number {{ business.identifier }}. You have 60 days to file your Annual Report to keep your
              {{ entity_type }} in good standing.
            </p>
            
            [[whitespace-16px.html]]
            <p>
              Log in to your <a href="{{ entity_dashboard_url }}">BC Business Registry account</a> to file your
              Annual Report. The filing fee for the annual report is ${{ ar_fee }} + $1.50 service fee.
            </p>
            
            {% if disable_specific_service_provider %}
            [[whitespace-16px.html]]
            <p>
              If you prefer to file by mail, contact an accountant, lawyer or service provider of your choice for support.
              An additional fee may apply.
            </p>
            [[whitespace-16px.html]]
            <p>
              For additional support with BC Registries filings, you may visit a Service BC location or call
              1-877-370-1033. Visit <a href="https://www.bcregistry.gov.bc.ca/filing">bcregistry.gov.bc.ca/filing</a> for your service options.
            </p>
            [[whitespace-16px.html]]
            <p>
              Please note that Service BC does not provide legal or financial advice.
            </p>
            {% else %}
            [[whitespace-16px.html]]
            <p>
              If you prefer to file by mail, contact the Corporate Registry's preferred service provider, Dye & Durham,
              who can file on your behalf for an additional fee. For information, contact Dye and Durham at
              1-800-268-7580 or visit their website at <a href="www.dyedurhambc.com">www.dyedurhambc.com</a>
            </p>
            {% endif %}

            [[whitespace-16px.html]]
            <p>
              It is a company's legal responsibility to keep company information current with the Corporate Registry,
              such as updating director and address information. Ensure that this information is updated before
              filing your annual report.
            </p>

            {% if business.legalType == 'BEN' %}
            [[whitespace-16px.html]]
            <p>
              In addition to filing the annual report with the Business Registry, there is a legal requirement for
              benefit companies to publish an annual Benefit Report. See section 51.994 of the Business Corporations
              Act for more information on the annual Benefit Report. We recommend seeking legal assistance when
              creating your annual Benefit Report.
            </p>
            {% endif %}

            [[whitespace-16px.html]]
            <p>
              Section 51 of the Business Corporations Act requires every BC company to file an annual report
              within two months of its anniversary date of recognition. The registrar may dissolve a company if the
              company fails to file for two consecutive years. For more information, please contact BC Registries.
            </p>

            [[whitespace-16px.html]]
            [[footer.html]]
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
