<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="origin-when-cross-origin"/>
    <meta name="author" content="BC Registries and Online Services">
    <title>Confirmation of Filing from the Business Registry</title>
    [[style.html]]
  </head>

  <body>
    <table class="body-table" role="presentation">
      <tr>
        <td>
          [[header.html]]

          <div class="container">
            <p class="title-message bold">We have received your incorporation application.</p>

            [[business-info.html]]

            <p>The following documents are attached to this email:</p>
            <ul class="outputs">
              <li>Incorporation Application</li>
              <li>Receipt</li>
            </ul>

            [[whitespace-16px.html]]
            [[business-dashboard-link.html]]

            [[whitespace-16px.html]]
            {% if header.isFutureEffective %}
            <!-- scenario 1 -->
            <p>
              On the effective date and time you specified, the business will be registered and
              will receive the following documents by email:
            </p>
            {% else %}
            <!-- scenario 3 -->
            <p>
              Once your filing has been processed, the business will be registered and will receive
              the following documents by email:
            </p>
            {% endif %}
            <ul class="outputs">
              {% if business.legalType == 'CP' %}
                <li>Incorporation Certificate</li>
                <li>Certified Rules</li>
                <li>Certified Memorandum</li>
              {% else %}
                <li>Notice of Articles</li>
                <li>Incorporation Certificate</li>
              {% endif %}
            </ul>

            [[whitespace-16px.html]]
            [[pdf-notice.html]]

            [[whitespace-16px.html]]
            [[20px.html]]
            [[footer.html]]
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
