<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="origin-when-cross-origin"/>
    <meta name="author" content="BC Registries and Online Services">
    {% if business.legalType in ['GP', 'SP'] %}
      <title>Confirmation of dissolution</title>
    {% else %}
      <title>Confirmation of voluntary dissolution</title>
    {% endif %}
    [[style.html]]
  </head>

  <body>
    <table class="body-table" role="presentation">
      <tr>
        <td>
          [[header.html]]

          <div class="container">
            <p class="title-message bold">
              {% if business.legalType in ['GP', 'SP'] %}
              <span>Confirmation of dissolution<span>
              {% else %}
              <span>Confirmation of voluntary dissolution<span>
              {% endif %}
            </p>

            {% if business.legalType not in ['GP', 'SP'] %}
            [[whitespace-16px.html]]
            <p>
              The voluntary dissolution filing for {{ business.businessName }} is now effective. {{ business.businessName }} is no longer active on the business registry. 
            </p>
            {% endif %}

            [[business-information.html]]

            <p>The following documents are attached to this email:</p>
            <ul class="outputs">
              <!-- scenarios 2 and 4 -->
              {% if business.legalType in ['GP', 'SP'] %}
                <li>Statement of Dissolution</li>
              {% elif business.legalType == 'CP' %}
                <li>Certificate of Dissolution</li>
                <li>Certified Special Resolution</li>
                <li>Certified Affidavit</li>
              {% else %}
                <li>Certificate of Dissolution</li>
              {% endif %}
            </ul>

            [[business-dashboard-link.html]]

            [[whitespace-16px.html]]
            [[20px.html]]
            [[footer.html]]
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
