{% extends 'RES-common.jinja2' %}

{% block page_title %}You have successfully restored your business with the BC Business Registry.{% endblock %}

{% block title_message %}You have successfully restored your business with the BC Business Registry.{% endblock %}

{% block attachments %}
<ul>
    <li>Notice of Articles</li>
    <li>Certificate of Restoration</li>
</ul>
{% endblock %}



