<div class="no-page-break">
    {% if business.legalType != alteration.business.legalType %}
        <div class="separator mt-4"></div>
        <div class="section-title mt-4">Change of Business Type</div>
        <div class="section-data mt-4">        
            Changing from a 
            {% if business.legalType == 'BEN' %}
                Benefit 
            {% else %}
                {{business.legalType}} 
            {% endif %}
            Company to a 
            {% if alteration.business.legalType == 'BEN' %}
                <strong> Benefit </strong>
            {% else %}
                <strong> {{alteration.business.legalType}} </strong>
            {% endif %}
            <strong>Company.</strong>
            <div class="section-data mt-4">
                <table class="section-data-table">
                    <tr class="no-page-break">
                    <td><strong>Incorporation Number</strong>
                        <div class="pt-2">{{ business.identifier }}</div>
                    </td>
                    <td><strong>Name of Company </strong>
                        <div class="pt-2">{{business.legalName}}</div>
                    </td>          
                    </tr>         
                </table>
            </div>
            <div class="section-data mt-3">
                <strong>Benefit Company Statement</strong>
                <div class="pt-3">
                This company is a benefit company and, as such, has purposes that include conducting its
                business in a responsible and sustainable manner and promoting one or more public benefits.
                </div>
            </div>
        </div>
    {% endif %}
</div>