{% if resolutions|length > 0 %}
    <div class="section-container no-page-break">
          <div class="section-title">Resolution or Court Order Dates</div>
           <div class="section-data section-description">
               Date(s) of Resolution(s) or Court Order(s) attaching or altering Special Rights
               and Restrictions attached to a class or a series of shares:
           </div>
            <ul class="resolution-date-list">
              {% for resolution in resolutions %}
                <li class="section-data resolution-date-list-item">{{resolution.date}}</li>
              {% endfor %}
            </ul>
    </div>
    <div class="separator"></div>
{% endif %}
