name: Business Pay CI

on:
  pull_request:
    types: [assigned, synchronize]
    paths:
      - "queue_services/entity-pay/**"
      - "queue_services/common/**"
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: ./queue_services/entity-pay

jobs:
  business-pay-ci:
    uses: bcgov/bcregistry-sre/.github/workflows/api-ci.yaml@main
    with:
      app_name: "business-pay"
      working_directory: "./queue_services/entity-pay"
      codecov_flag: "entitypay"