name: Business Emailer CI

on:
  pull_request:
    types: [assigned, synchronize]
    paths:
      - "queue_services/entity-emailer/**"
      - "queue_services/common/**"
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: ./queue_services/entity-emailer

jobs:
  business-emailer-ci:
    uses: bcgov/bcregistry-sre/.github/workflows/emailer-ci.yaml@main
    with:
      app_name: "business-emailer"
      working_directory: "./queue_services/entity-emailer"
      codecov_flag: "entityemailer"
